*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topnav{
    display: flex;
    justify-content: space-around; 
    margin: 20px;
}

#nav a{
    margin: 20px;
    text-decoration: none;

}

#nav a:hover{
    color: red;
}
#port{
    font-size: 28px;
    color: darkgoldenrod;
    font-weight: 700;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }